/*********************************************
Ferret Framework Main Stylesheet
Last Updated: 7/9/13
Written by: Sean Stopnik
Email: thelifemgmt@gmail.com
*********************************************/
/* Box Grid */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* html .row {
  height: 1%;
}
.row {
  display: block;
  width: 100%;
}
.row .row {
  margin: 0 -10px;
  width: auto;
}
.row.with-spacing {
  margin-bottom: 40px;
}
.row.with-less-spacing {
  margin-bottom: 20px;
}
.row.with-more-spacing {
  margin-bottom: 80px;
}
.row img {
  display: block;
  max-width: 100%;
  height: auto;
}
.row.centered {
  text-align: center;
}
.row.centered div {
  float: none;
  display: inline-block;
  text-align: left;
  margin: 0 -2px;
}
.row.no-gutters {
  padding: 0 10px;
}
.row.no-gutters [class*="box-"] {
  padding: 0;
}
.row.large-gutters [class*="box-"] {
  padding: 0 20px;
}
.row:before,
.row:after {
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: "";
}
.row:after {
  clear: both;
}
.box-1 {
  width: 6.25%;
}
.box-2 {
  width: 12.5%;
}
.box-3 {
  width: 18.75%;
}
.box-4 {
  width: 25%;
}
.box-5 {
  width: 31.25%;
}
.box-6 {
  width: 37.5%;
}
.box-7 {
  width: 43.75%;
}
.box-8 {
  width: 50%;
}
.box-9 {
  width: 56.25%;
}
.box-10 {
  width: 62.5%;
}
.box-11 {
  width: 68.75%;
}
.box-12 {
  width: 75%;
}
.box-13 {
  width: 81.25%;
}
.box-14 {
  width: 87.5%;
}
.box-15 {
  width: 93.75%;
}
.box-16 {
  width: 100%;
}
.box-full {
  width: 100%;
}
.box-half {
  width: 50%;
}
.box-3rd {
  width: 33.333333333333336%;
}
.box-2-3rd {
  width: 66.66666666666667%;
}
.box-5th {
  width: 20%;
}
.box-6th {
  width: 16.666666666666668%;
}
[class^="box-"] {
  float: left;
  padding: 0 10px;
}
.container {
  position: relative;
  margin: 0 auto;
}
.ie8 .container {
  width: 960px;
}
@media (max-width: 599px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 959px) {
  * {
    -webkit-text-size-adjust: none;
  }
  .container {
    padding: 0 10px;
    overflow: hidden;
  }
}
@media (max-width: 599px) {
  [class*="box-"] {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  [class*="box-"] {
    width: 100%;
  }
  .box--half,
  .box-5th,
  .box-6th {
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 960px) and (max-width: 1599px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1200px;
  }
}
/* Fonts */
@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSans-Light-webfont.eot');
  src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansReg';
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansSemi';
  src: url('../fonts/OpenSans-Semibold-webfont.eot');
  src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'), url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/OpenSans-Bold-webfont.eot');
  src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
  overflow-y: scroll;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
body {
  color: #707070;
  font-family: 'OpenSansLight';
  font-size: 15px;
  font-weight: normal;
  line-height: 2;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
hr {
  display: block;
  border: 0;
  height: 2px;
  background: url(../images/ferret/hr_horizontal.png) repeat-x;
  margin: 0 10px 40px;
  padding: 0;
}
hr.flush {
  margin: 0;
}
input,
select {
  vertical-align: middle;
}
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
  border: 0;
  margin: 0;
  -webkit-appearance: none;
  outline: none;
}
.bold,
b,
strong {
  font-weight: bold;
}
.italic,
i {
  font-style: italic;
}
::-webkit-input-placeholder {
  color: #acacac;
}
input[type='text']:-moz-placeholder,
input[type='tel']:-moz-placeholder,
input[type='email']:-moz-placeholder,
textarea:-moz-placeholder {
  color: #acacac;
}
::selection,
::-moz-selection {
  background: #353535;
  color: #ffffff;
}
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
h1,
h2,
h3,
h4,
h5,
h6,
span.headline {
  color: #353535;
  font-family: 'OpenSansBold';
  font-weight: normal;
  margin-bottom: 15px;
  line-height: 1.5;
}
h1 {
  font-size: 240%;
}
h2 {
  font-size: 200%;
}
h3 {
  font-size: 160%;
}
h4 {
  font-size: 120%;
}
h5 {
  font-size: 106%;
}
h6 {
  font-size: 93%;
}
span.headline {
  display: block;
  font-size: 120%;
  color: #353535;
}
.with-subheadline {
  margin-bottom: 5px;
}
.subheadline {
  display: block;
  font-family: 'OpenSansSemi';
  font-weight: normal;
  font-size: 120%;
  color: #959595;
}
a {
  text-decoration: none;
  color: #48b2c1;
  font-family: 'OpenSansReg';
  font-weight: normal;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  outline: none;
}
a:hover {
  color: #353535;
}
p {
  margin: 0 0 20px 0;
}
p:last-child {
  margin: 0;
}
p.large {
  font-size: 110%;
  line-height: 2.2;
}
p,
span {
  letter-spacing: 1px;
}
small,
.small {
  font-size: 80%;
}
sup {
  vertical-align: top;
  font-size: 73%;
}
.pull-quote {
  border-left: 1px solid #e1e1e1;
  padding: 0 0 0 20px;
  color: #a3a3a3;
}
.pull-quote cite {
  display: block;
  color: #353535;
  font-size: 93%;
  font-style: italic;
  margin-top: 12px;
}
.pull-quote cite:before {
  content: "\2014 \0020";
}
.position {
  position: relative;
}
.left,
.floated {
  float: left;
}
.right {
  float: right;
}
.center {
  text-align: center;
}
.flush {
  margin: 0;
}
.top10 {
  margin-top: 10px;
}
.top20 {
  margin-top: 20px;
}
.top30 {
  margin-top: 30px;
}
.top40 {
  margin-top: 40px;
}
.bottom10 {
  margin-bottom: 10px;
}
.bottom20 {
  margin-bottom: 20px;
}
.bottom30 {
  margin-bottom: 30px;
}
.bottom40 {
  margin-bottom: 40px;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.normal {
  font-weight: normal;
}
.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.hide {
  display: none;
}
.striped {
  background-image: url(../images/ferret/bg_stripes.png);
  background-repeat: repeat;
}
section.first {
  margin-top: 60px;
}
.button,
a.button {
  float: left;
  padding: 0 25px;
  font-family: 'OpenSansBold';
  font-weight: normal;
  font-size: 14px;
  line-height: 40px;
  border-radius: 3px;
  color: #ffffff;
  text-shadow: 0 1px 0 #3fabbb;
  box-shadow: 0 4px 0 #3693a0;
  background-color: #48b2c1;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -webkit-appearance: none;
}
.button:hover,
a.button:hover {
  background-color: #3da4b3;
}
.button:active,
a.button:active {
  background-color: #399aa7;
}
.button.submit,
a.button.submit {
  font-family: 'OpenSansSemi';
  font-weight: normal;
  letter-spacing: 1px;
  border: 0;
  color: #ffffff;
  text-shadow: 0 1px 0 #f15e3c;
  box-shadow: 0 4px 0 #ef431a;
  background-color: #f26a4a;
  margin: 5px 0 0;
}
.button.submit:hover,
a.button.submit:hover {
  background-color: #f05632;
}
.button.submit:active,
a.button.submit:active {
  background-color: #ef4b24;
}
.button.orange,
a.button.orange {
  color: #ffffff;
  text-shadow: 0 1px 0 #fda33f;
  box-shadow: 0 4px 0 #fc921c;
  background-color: #fdaa4e;
}
.button.orange:hover,
a.button.orange:hover {
  background-color: #fd9e35;
}
.button.orange:active,
a.button.orange:active {
  background-color: #fd9726;
}
.button.red,
a.button.red {
  color: #ffffff;
  text-shadow: 0 1px 0 #f15e3c;
  box-shadow: 0 4px 0 #ef431a;
  background-color: #f26a4a;
}
.button.red:hover,
a.button.red:hover {
  background-color: #f05632;
}
.button.red:active,
a.button.red:active {
  background-color: #ef4b24;
}
.button.blue,
a.button.blue {
  color: #ffffff;
  text-shadow: 0 1px 0 #3fabbb;
  box-shadow: 0 4px 0 #3693a0;
  background-color: #48b2c1;
}
.button.blue:hover,
a.button.blue:hover {
  background-color: #3da4b3;
}
.button.blue:active,
a.button.blue:active {
  background-color: #399aa7;
}
.button.green,
a.button.green {
  color: #ffffff;
  text-shadow: 0 1px 0 #44c289;
  box-shadow: 0 4px 0 #38ab76;
  background-color: #50c690;
}
.button.green:hover,
a.button.green:hover {
  background-color: #3ebe84;
}
.button.green:active,
a.button.green:active {
  background-color: #3ab37c;
}
.button.light,
a.button.light {
  color: #ffffff;
  text-shadow: 0 1px 0 #a4a4a4;
  box-shadow: 0 4px 0 #939393;
  background-color: #acacac;
}
.button.light:hover,
a.button.light:hover {
  background-color: #9f9f9f;
}
.button.light:active,
a.button.light:active {
  background-color: #989898;
}
.button.striped,
a.button.striped {
  background-image: url(../images/ferret/bg_stripes.png);
}
.button.flat,
a.button.flat {
  text-shadow: none;
  box-shadow: none;
}
.button.reverse,
a.button.reverse {
  color: #555555;
  text-shadow: 0 1px 0 #d9d9d9;
  box-shadow: 0 4px 0 #c8c8c8;
  background-color: #e1e1e1;
}
.button.reverse:hover,
a.button.reverse:hover {
  background-color: #d4d4d4;
}
.button.reverse:active,
a.button.reverse:active {
  background-color: #cdcdcd;
}
.button.oval,
a.button.oval {
  border-radius: 20px;
}
.button.primary,
a.button.primary {
  color: #ffffff;
  text-shadow: 0 1px 0 #3fabbb;
  box-shadow: 0 4px 0 #3693a0;
  background-color: #48b2c1;
}
.button.primary:hover,
a.button.primary:hover {
  background-color: #3da4b3;
}
.button.primary:active,
a.button.primary:active {
  background-color: #399aa7;
}
.button.secondary,
a.button.secondary {
  color: #ffffff;
  text-shadow: 0 1px 0 #fda33f;
  box-shadow: 0 4px 0 #fc921c;
  background-color: #fdaa4e;
}
.button.secondary:hover,
a.button.secondary:hover {
  background-color: #fd9e35;
}
.button.secondary:active,
a.button.secondary:active {
  background-color: #fd9726;
}
.button.tertiary,
a.button.tertiary {
  color: #ffffff;
  text-shadow: 0 1px 0 #44c289;
  box-shadow: 0 4px 0 #38ab76;
  background-color: #50c690;
}
.button.tertiary:hover,
a.button.tertiary:hover {
  background-color: #3ebe84;
}
.button.tertiary:active,
a.button.tertiary:active {
  background-color: #3ab37c;
}
.button.disabled,
a.button.disabled {
  opacity: .6;
  pointer-events: none;
}
.button.mini,
a.button.mini {
  font-size: 10px;
  line-height: 22px;
  padding: 0 12px;
}
.button.small,
a.button.small {
  font-size: 12px;
  line-height: 30px;
  padding: 0 20px;
}
.button.large,
a.button.large {
  font-size: 16px;
  line-height: 50px;
  padding: 0 45px;
}
.button.x-large,
a.button.x-large {
  font-size: 18px;
  line-height: 60px;
  padding: 0 40px;
}
.button.full-width,
a.button.full-width {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
input[type='submit'].button {
  height: 40px;
}
input[type='submit'].button.small {
  height: 30px;
}
input[type='submit'].button.large {
  height: 50px;
}
input[type='submit'].button.x-large {
  height: 60px;
}
/* Nav */
header {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  background: #353535;
  z-index: 100;
}
@media (max-width: 959px) {
  header nav {
    position: relative;
    height: 60px;
  }
}
header nav ul {
  float: right;
}
@media (max-width: 599px) {
  header nav ul {
    width: 100%;
  }
}
@media (min-width: 600px) and (max-width: 959px) {
  header nav ul {
    width: 50%;
  }
}
@media (max-width: 959px) {
  header nav ul {
    margin-top: 70px;
    display: none;
  }
}
@media (min-width: 960px) {
  header nav ul {
    display: block !important;
  }
}
@media (max-width: 959px) {
  header nav ul:before {
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #353535;
    top: 63px;
    right: 13px;
  }
}
header nav ul li {
  float: left;
  margin: 0 20px;
}
@media (max-width: 959px) {
  header nav ul li {
    float: none !important;
    display: block;
    height: 60px;
    border-top: 1px solid #3f3f3f;
    border-bottom: 1px solid #2b2b2b;
    padding: 0;
    background: #353535;
    margin: 0 !important;
  }
}
header nav ul li:first-child {
  margin-left: 0;
}
@media (max-width: 959px) {
  header nav ul li:first-child {
    border-top: 0;
    border-radius: 3px 3px 0 0;
  }
}
header nav ul li:last-child {
  margin-right: 0;
}
@media (max-width: 959px) {
  header nav ul li:last-child {
    border-bottom: 0;
    border-radius: 0 0 3px 3px;
  }
}
header nav ul li a {
  display: block;
  font-family: 'OpenSansBold';
  font-size: 12px;
  font-weight: normal;
  color: #ffffff !important;
  line-height: 60px;
}
@media (max-width: 959px) {
  header nav ul li a {
    display: block;
    width: 100%;
    font-size: 12px;
    padding: 0 20px;
  }
}
header nav ul li a:hover {
  color: #fdaa4e !important;
}
.mobile-nav {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #494949 url(../images/ferret/button_mobile_nav.png) no-repeat center center;
  cursor: pointer;
  z-index: 100;
  display: none;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.mobile-nav.active {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
@media (max-width: 959px) {
  .mobile-nav {
    display: block;
  }
}
/* Forms */
.inputfield {
  float: left;
  width: 100%;
  height: 45px;
  font-family: 'OpenSansReg';
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 2;
  color: #353535;
  padding: 8.5px 10px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  background: #ffffff;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  margin-bottom: 20px;
}
.inputfield:hover {
  border-color: #acacac;
}
.inputfield:focus {
  outline: none;
  border-color: #ebc855;
  background: #f8edc7;
}
select.inputfield {
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #acacac;
  background: #ffffff url(../images/ferret/bg_select_arrow.png) no-repeat right;
}
select.inputfield:focus {
  background: #f8edc7 url(../images/ferret/bg_select_arrow.png) no-repeat right;
}
textarea.inputfield {
  height: 140px;
}
@media (max-width: 599px) {
  .inputfield {
    margin-bottom: 0;
  }
}
.checkbox,
.radio-button {
  float: left;
  width: 17px;
  height: 17px;
  border: 1px solid #e1e1e1;
  background: #ffffff;
  -webkit-appearance: none;
  margin: 0 7px 20px 0;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.checkbox:hover,
.radio-button:hover {
  border-color: #acacac;
}
.checkbox:focus,
.radio-button:focus {
  outline: none;
  border-color: #ebc855;
  background: #f8edc7;
}
@media (max-width: 599px) {
  .checkbox,
  .radio-button {
    margin-bottom: 0;
  }
}
.checkbox {
  border-radius: 3px;
}
.checkbox:checked {
  background: url(../images/ferret/bg_checkbox.png) no-repeat center center;
}
.radio-button {
  border-radius: 50%;
}
.radio-button:checked {
  background: url(../images/ferret/bg_radio_button.png) no-repeat center center;
}
label {
  float: left;
  font-size: 12px;
  line-height: 1.5;
}
ul li {
  margin-bottom: 10px;
  font-size: 90%;
  letter-spacing: 1px;
}
ul li:last-child {
  margin-bottom: 0;
}
ul.disc {
  list-style-type: disc;
  margin-left: 20px;
}
ul.square {
  list-style-type: square;
  margin-left: 20px;
}
ul.checkmark li:before {
  content: "\2713";
  color: #50c690;
  padding-right: 10px;
}
ul.plus li:before {
  content: "\271A";
  color: #48b2c1;
  padding-right: 10px;
}
ul.multiply li:before {
  content: "\2716";
  color: #f26a4a;
  padding-right: 10px;
}
ul.inline li {
  float: left;
  line-height: 1.2;
  border-right: 1px solid #acacac;
  padding-right: 10px;
  margin-left: 10px;
  font-size: 80%;
}
ul.inline li:first-child {
  margin: 0;
}
ul.inline li:last-child {
  padding: 0;
  border: 0;
}
ul.with-spacing {
  margin-bottom: 20px;
}
ol li {
  margin: 0 0 10px 25px;
  list-style: decimal;
  font-size: 90%;
  letter-spacing: 1px;
}
ol li:last-child {
  margin-bottom: 0;
}
ol.with-spacing {
  margin-bottom: 20px;
}
dl {
  font-size: 90%;
}
dl dt {
  color: #353535;
  font-family: 'OpenSansBold';
  font-weight: normal;
}
dl dd {
  letter-spacing: 1px;
  margin-bottom: 10px;
}
dl dd:last-child {
  margin-bottom: 0;
}
dl.with-spacing {
  margin-bottom: 20px;
}
/* Tabs */
ul.tabs-nav {
  float: left;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  margin: 5px 0 20px;
}
@media (max-width: 599px) {
  ul.tabs-nav {
    border: none;
  }
}
ul.tabs-nav li {
  float: left;
  padding: 6px 25px;
  border: 1px solid #e1e1e1;
  background: #f9f9f9;
  margin: 0 -1px -1px 0;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
ul.tabs-nav li:hover {
  cursor: pointer;
}
ul.tabs-nav li:hover a {
  color: #353535;
}
ul.tabs-nav li a {
  display: block;
  color: #959595;
  font-family: 'OpenSansSemi';
  font-size: 12px;
  font-weight: normal;
  line-height: 1.9;
  letter-spacing: 0;
}
ul.tabs-nav li a:hover {
  color: #353535;
}
ul.tabs-nav li.active {
  padding-top: 9px;
  border-bottom: 1px solid #ffffff;
  margin-top: -3px;
  background: #ffffff;
}
ul.tabs-nav li.active a {
  color: #f26a4a;
}
@media (max-width: 599px) {
  ul.tabs-nav li {
    border: none;
    border-right: 1px solid #e1e1e1;
    padding: 2px 12px;
    background: none;
  }
  ul.tabs-nav li:first-child {
    padding-left: 0;
  }
  ul.tabs-nav li:last-child {
    padding-right: 0;
    border: none;
  }
  ul.tabs-nav li.active {
    padding-top: 2px;
    margin-top: 0;
    background: none;
  }
  ul.tabs-nav li a {
    font-size: 90%;
  }
}
.tab-frame {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  background: #ffffff;
  display: none;
}
table {
  width: 100%;
}
table thead {
  background: #48b2c1;
}
table thead th {
  color: #ffffff;
  font-family: 'OpenSansBold';
  font-weight: normal;
  font-size: 14px;
}
table thead th:first-child {
  border-radius: 3px 0 0 0;
}
table thead th:last-child {
  border-radius: 0 3px 0 0;
}
table th,
table td {
  text-align: left;
  padding: 5px 10px;
}
table tbody {
  font-size: 14px;
  letter-spacing: 1px;
}
table tbody tr {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
table tbody tr:nth-child(even) {
  background: #f4f4f4;
}
table tbody tr:nth-child(even):hover {
  background: #eaeaea;
}
table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 3px;
}
table tbody tr:last-child td:last-child {
  border-radius: 0 0 3px 0;
}
table tbody tr:hover {
  color: #353535;
}
table tfoot {
  background: #e1e1e1;
}
table tfoot td {
  color: #353535;
  font-family: 'OpenSansBold';
  font-weight: normal;
  font-size: 14px;
}
table tfoot td:first-child {
  border-radius: 0 0 0 3px;
}
table tfoot td:last-child {
  border-radius: 0 0 3px 0;
}
table.with-footer tbody tr:last-child td {
  border-radius: 0;
}
/* Tooltip */
.tooltip {
  position: relative;
}
.tooltip span {
  position: absolute;
  bottom: 18px;
  width: 220%;
  left: -60%;
  font-family: 'OpenSansSemi';
  letter-spacing: 0;
  font-size: 85%;
  font-weight: normal;
  line-height: 1.8;
  text-align: center;
  padding: 7px 10px;
  color: #ffffff;
  background: #353535;
  border-radius: 3px;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.tooltip span:hover {
  background: #353535;
}
.tooltip span:after {
  position: absolute;
  width: 0;
  height: 0;
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #353535;
  bottom: -7px;
  left: 50%;
  margin-left: -7px;
}
@media (max-width: 599px) {
  .tooltip span {
    display: none !important;
  }
}
.tooltip:hover span {
  bottom: 25px;
  visibility: visible;
  opacity: 1;
}
/* JUST FOR FERRET DEMO - REMOVE BEFORE DEVELOPMENT */
section {
  padding: 20px 0;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 20px;
}
.row {
  margin-bottom: 20px;
}
@media (max-width: 599px) {
  .row {
    margin-bottom: 0;
  }
}
.row .row {
  background: #acacac;
}
.row form .row {
  background: none;
}
span {
  display: block;
  border-radius: 3px;
  background: #e1e1e1;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
span:hover {
  color: #fff;
  background: #353535;
}
span.headline {
  color: #353535;
  background: none;
}
span.logo {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 24px;
  font-family: 'OpenSansBold';
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  background: none;
}
/* END */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}
.fancybox-skin {
  position: relative;
  color: #353535;
  text-shadow: none;
  border-radius: 3px;
  background: #ffffff;
}
.fancybox-opened {
  z-index: 8030;
}
.fancybox-outer,
.fancybox-inner {
  position: relative;
}
.fancybox-inner {
  overflow: hidden;
}
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}
.fancybox-error {
  color: #444;
  font-family: 'OpenSansSemi';
  font-weight: normal;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}
.fancybox-image,
.fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}
#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
  background-image: url(../images/fancybox/fancybox_sprite.png);
}
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url(../images/fancybox/fancybox_loading.gif) no-repeat center center;
}
.fancybox-close {
  position: absolute;
  top: -25px;
  right: -25px;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  cursor: pointer;
  z-index: 8040;
  background-color: #f26a4a;
  background-position: 0 -80px;
}
.fancybox-close:hover {
  background-color: #353535;
}
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  cursor: pointer;
  z-index: 8040;
}
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  cursor: pointer;
  z-index: 8040;
  background-color: #353535;
}
.fancybox-prev {
  left: 0;
  height: 100%;
  opacity: 0;
}
.fancybox-prev span {
  left: -10px;
  background-position: 0 0;
}
.fancybox-prev:hover {
  left: -25px;
  opacity: 1;
}
.fancybox-prev:hover span {
  background-color: #353535;
}
.fancybox-prev:hover span:hover {
  background-color: #48b2c1;
}
.fancybox-next {
  right: 0;
  height: 100%;
  opacity: 0;
}
.fancybox-next span {
  right: -10px;
  background-position: 0 -40px;
}
.fancybox-next:hover {
  right: -25px;
  opacity: 1;
}
.fancybox-next:hover span {
  background-color: #353535;
}
.fancybox-next:hover span:hover {
  background-color: #48b2c1;
}
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}
.fancybox-lock body {
  overflow: hidden !important;
}
.fancybox-lock-test {
  overflow-y: hidden !important;
}
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: rgba(0, 0, 0, 0.6);
}
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}
.fancybox-title {
  visibility: hidden;
  font-family: 'OpenSansSemi';
  font-weight: normal;
  font-size: 11px;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}
.fancybox-opened .fancybox-title {
  visibility: visible;
}
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -40px;
  z-index: 8050;
  text-align: center;
}
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 5px 20px;
  background: #353535;
  border-radius: 3px;
  color: #ffffff;
  white-space: nowrap;
}
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #ffffff;
}
.fancybox-title-inside-wrap {
  padding-top: 10px;
}
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ffffff;
  padding: 10px;
  background: #353535;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #fancybox-loading,
  .fancybox-close,
  .fancybox-prev span,
  .fancybox-next span {
    background-image: url(../images/fancybox/fancybox_sprite@2x.png);
    background-size: 44px 152px;
  }
  #fancybox-loading div {
    background-image: url(../images/fancybox/fancybox_loading@2x.gif);
    background-size: 24px 24px;
  }
}
/* Rows */
.ie6 .row.row {
  width: 105%;
}
/* Box Widths */
.ie6 .box-1,
.ie7 .box-1 {
  width: 40px;
}
.ie6 .box-2,
.ie7 .box-2 {
  width: 100px;
}
.ie6 .box-3,
.ie7 .box-3 {
  width: 160px;
}
.ie6 .box-4,
.ie7 .box-4 {
  width: 220px;
}
.ie6 .box-5,
.ie7 .box-5 {
  width: 280px;
}
.ie6 .box-6,
.ie7 .box-6 {
  width: 340px;
}
.ie6 .box-7,
.ie7 .box-7 {
  width: 400px;
}
.ie6 .box-8,
.ie7 .box-8 {
  width: 460px;
}
.ie6 .box-9,
.ie7 .box-9 {
  width: 520px;
}
.ie6 .box-10,
.ie7 .box-10 {
  width: 580px;
}
.ie6 .box-11,
.ie7 .box-11 {
  width: 640px;
}
.ie6 .box-12,
.ie7 .box-12 {
  width: 700px;
}
.ie6 .box-13,
.ie7 .box-13 {
  width: 760px;
}
.ie6 .box-14,
.ie7 .box-14 {
  width: 820px;
}
.ie6 .box-15,
.ie7 .box-15 {
  width: 880px;
}
.ie6 .box-16,
.ie7 .box-16 {
  width: 940px;
}
.ie6 .box-3.sixth,
.ie7 .box-3.sixth {
  width: 140px;
}
.ie6 .box-4.fifth,
.ie7 .box-4.fifth {
  width: 172px;
}
.ie6 .box-5.third,
.ie7 .box-5.third {
  width: 300px;
}
.ie6 .box-10.two-third,
.ie7 .box-10.two-third {
  width: 620px;
}
.ie6 .box-1,
.ie7 .box-1,
.ie6 .box-2,
.ie7 .box-2,
.ie6 .box-3,
.ie7 .box-3,
.ie6 .box-4,
.ie7 .box-4,
.ie6 .box-5,
.ie7 .box-5,
.ie6 .box-6,
.ie7 .box-6,
.ie6 .box-7,
.ie7 .box-7,
.ie6 .box-8,
.ie7 .box-8,
.ie6 .box-9,
.ie7 .box-9,
.ie6 .box-10,
.ie7 .box-10,
.ie6 .box-11,
.ie7 .box-11,
.ie6 .box-12,
.ie7 .box-12,
.ie6 .box-13,
.ie7 .box-13,
.ie6 .box-14,
.ie7 .box-14,
.ie6 .box-15,
.ie7 .box-15,
.ie6 .box-16,
.ie7 .box-16,
.ie6 .box-17,
.ie7 .box-17,
.ie6 .box-18,
.ie7 .box-18,
.ie6 .box-19,
.ie7 .box-19,
.ie6 .box-20,
.ie7 .box-20,
.ie6 .box-21,
.ie7 .box-21,
.ie6 .box-22,
.ie7 .box-22,
.ie6 .box-23,
.ie7 .box-23,
.ie6 .box-24,
.ie7 .box-24,
.ie6 .box-half,
.ie7 .box-half,
.ie6 .box-3rd,
.ie7 .box-3rd,
.ie6 .box-2-3rd,
.ie7 .box-2-3rd,
.ie6 .box-5th,
.ie7 .box-5th,
.ie6 .box-6th,
.ie7 .box-6th {
  float: left;
  padding: 0 10px;
}
.i6 .container,
.ie7 .container,
.ie8 .container {
  width: 960px;
}
