/*********************************************
Ferret Framework Main Stylesheet
Last Updated: 1/28/13
Written by: Sean Stopnik
Email: sstopnik@redventures.com
*********************************************/
/* Box Grid */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* html .row {
  height: 1%;
}
.row {
  display: block;
  width: 100%;
}
.row .row {
  margin: 0 -10px;
  width: auto;
}
.row.with-spacing {
  margin-bottom: 40px;
}
.row.with-less-spacing {
  margin-bottom: 20px;
}
.row.with-more-spacing {
  margin-bottom: 80px;
}
.row img {
  display: block;
  max-width: 100%;
  height: auto;
}
.row.centered {
  text-align: center;
}
.row.centered div {
  float: none;
  display: inline-block;
  text-align: left;
  margin: 0 -2px;
}
.row.no-gutters {
  padding: 0 10px;
}
.row.no-gutters [class*="box-"] {
  padding: 0;
}
.row.large-gutters [class*="box-"] {
  padding: 0 20px;
}
.row:before,
.row:after {
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: "";
}
.row:after {
  clear: both;
}
.box-1 {
  width: 6.25%;
}
.box-2 {
  width: 12.5%;
}
.box-3 {
  width: 18.75%;
}
.box-4 {
  width: 25%;
}
.box-5 {
  width: 31.25%;
}
.box-6 {
  width: 37.5%;
}
.box-7 {
  width: 43.75%;
}
.box-8 {
  width: 50%;
}
.box-9 {
  width: 56.25%;
}
.box-10 {
  width: 62.5%;
}
.box-11 {
  width: 68.75%;
}
.box-12 {
  width: 75%;
}
.box-13 {
  width: 81.25%;
}
.box-14 {
  width: 87.5%;
}
.box-15 {
  width: 93.75%;
}
.box-16 {
  width: 100%;
}
.box-half {
  width: 50%;
}
.box-3rd {
  width: 33.333333333333336%;
}
.box-2-3rd {
  width: 66.66666666666667%;
}
.box-5th {
  width: 20%;
}
.box-6th {
  width: 16.666666666666668%;
}
[class^="box-"] {
  float: left;
  padding: 0 10px;
}
.container {
  position: relative;
  margin: 0 auto;
}
.ie8 .container {
  width: 960px;
}
/* Media Queries */
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 959px) {
  * {
    -webkit-text-size-adjust: none;
  }
  .container {
    padding: 0 10px;
    overflow: hidden;
  }
}
@media (max-width: 599px) {
  .row {
    margin-bottom: 0 !important;
  }
  [class*="box-"] {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  [class*="box-"] {
    width: 100%;
  }
  .box--half,
  .box-5th,
  .box-6th {
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 960px) and (max-width: 1599px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1280px;
  }
}
/* Fonts */
@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSans-Light-webfont.eot');
  src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansReg';
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansSemi';
  src: url('../fonts/OpenSans-Semibold-webfont.eot');
  src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'), url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/OpenSans-Bold-webfont.eot');
  src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
.font-light {
  font-family: 'OpenSansLight';
  font-weight: normal;
}
.font-normal {
  font-family: 'OpenSansReg';
  font-weight: normal;
}
.font-semi {
  font-family: 'OpenSansSemi';
  font-weight: normal;
}
.font-bold {
  font-family: 'OpenSansBold';
  font-weight: normal;
}
.font-headline {
  font-family: 'OpenSansSemi';
  font-weight: normal;
}
/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
  overflow-y: scroll;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* HTML5 Tags */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* Defaults */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'OpenSansLight';
  font-size: 15px;
  line-height: 2;
  font-weight: normal;
  color: #707070;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
hr {
  display: block;
  border: 0;
  height: 2px;
  background: url(../images/hr_horizontal.png) repeat-x;
  margin: 0 10px 40px;
  padding: 0;
}
hr.flush {
  margin: 0;
}
input,
select {
  vertical-align: middle;
}
input[type=button],
input[type=submit],
button {
  cursor: pointer;
  border: 0;
  margin: 0;
  -webkit-appearance: none;
  outline: none;
}
.bold,
b,
strong {
  font-weight: bold;
}
.italic,
i {
  font-style: italic;
}
::-webkit-input-placeholder {
  color: #898989;
}
input[type="text"]:-moz-placeholder {
  color: #898989;
}
input[type="tel"]:-moz-placeholder {
  color: #898989;
}
input[type="email"]:-moz-placeholder {
  color: #898989;
}
textarea:-moz-placeholder {
  color: #898989;
}
::selection {
  background: #464646;
  color: #fff;
}
::-moz-selection {
  background: #464646;
  color: #fff;
}
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
h1,
h2,
h3,
h4,
h5,
h6,
span.headline {
  color: #353535;
  font-family: 'OpenSansBold';
  font-weight: normal;
  margin-bottom: 15px;
  line-height: 1.5;
}
h1 {
  font-size: 240%;
}
h2 {
  font-size: 200%;
}
h3 {
  font-size: 160%;
}
h4 {
  font-size: 120%;
}
h5 {
  font-size: 106%;
}
h6 {
  font-size: 93%;
}
span.headline {
  display: block;
  font-size: 120%;
  color: #353535;
}
.with-subheadline {
  margin-bottom: 5px;
}
.subheadline {
  display: block;
  font-family: 'OpenSansSemi';
  font-weight: normal;
  font-size: 120%;
  color: #959595;
}
a {
  text-decoration: none;
  color: #3faab9;
  font-family: 'OpenSansReg';
  font-weight: normal;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  outline: none;
}
a:hover {
  color: #353535;
}
p {
  margin: 0 0 20px 0;
}
p:last-child {
  margin: 0;
}
p.large {
  font-size: 110%;
  line-height: 2.2;
}
p,
span {
  letter-spacing: 1px;
}
small,
.small {
  font-size: 73%;
}
sup {
  vertical-align: top;
  font-size: 73%;
}
blockquote {
  border-left: 1px solid #e1e1e1;
  padding: 0 0 0 20px;
  color: #acacac;
}
blockquote cite {
  display: block;
  color: #353535;
  font-size: 93%;
  font-style: italic;
  margin-top: 12px;
}
blockquote cite:before {
  content: "\2014 \0020";
}
.fade {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1.0;
}
.fade:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=60);
  opacity: 0.6;
}
.position {
  position: relative;
}
.left,
.floated {
  float: left;
}
.right {
  float: right;
}
.center {
  text-align: center;
}
.flush {
  margin: 0;
}
.top10 {
  margin-top: 10px;
}
.top20 {
  margin-top: 20px;
}
.top30 {
  margin-top: 30px;
}
.top40 {
  margin-top: 40px;
}
.bottom10 {
  margin-bottom: 10px;
}
.bottom20 {
  margin-bottom: 20px;
}
.bottom30 {
  margin-bottom: 30px;
}
.bottom40 {
  margin-bottom: 40px;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.normal {
  font-weight: normal;
}
.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.hide {
  display: none;
}
.striped {
  background-image: url(../images/bg_stripes.png);
  background-repeat: repeat;
}
section.first {
  margin-top: 60px;
}
/* Buttons */
.button,
a.button {
  float: left;
  padding: 0 30px;
  color: #ffffff;
  font-family: 'OpenSansBold';
  font-weight: normal;
  font-size: 14px;
  line-height: 40px;
  border-top: 1px solid #3faab9;
  background: #3faab9;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -webkit-appearance: none;
}
.button.submit,
a.button.submit {
  height: 40px;
  font-family: 'OpenSansBold';
  letter-spacing: 1px;
  border: 0;
  border-top: 1px solid #f26a4a;
  background-color: #f26a4a;
  margin: 5px 0 0;
}
.button.orange,
a.button.orange {
  border-top: 1px solid #fdaa4e;
  background-color: #fdaa4e;
}
.button.red,
a.button.red {
  border-top: 1px solid #f26a4a;
  background-color: #f26a4a;
}
.button.blue,
a.button.blue {
  border-top: 1px solid #3faab9;
  background-color: #3faab9;
}
.button.green,
a.button.green {
  border-top: 1px solid #50c690;
  background-color: #50c690;
}
.button.light,
a.button.light {
  border-top: 1px solid #acacac;
  background-color: #acacac;
}
.button.striped,
a.button.striped {
  background-image: url(../images/bg_stripes.png);
}
.button.flat,
a.button.flat {
  box-shadow: none;
  border: none;
  text-shadow: none;
}
.button.reverse,
a.button.reverse {
  border-top: 1px solid #e1e1e1;
  background-color: #e1e1e1;
  color: #353535;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.1);
}
.button.oval,
a.button.oval {
  border-radius: 20px;
}
.button.mini,
a.button.mini {
  font-size: 10px;
  line-height: 22px;
  padding: 0 12px;
}
.button.small,
a.button.small {
  font-size: 12px;
  line-height: 30px;
  padding: 0 20px;
}
.button.large,
a.button.large {
  font-size: 16px;
  line-height: 50px;
  padding: 0 40px;
}
.button.x-large,
a.button.x-large {
  font-size: 18px;
  line-height: 60px;
  padding: 0 50px;
}
.button.full-width,
a.button.full-width {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.button:hover,
a.button:hover {
  background-color: #353535;
  border-top: 1px solid #353535;
  color: #ffffff;
}
.button.flat:hover,
a.button.flat:hover {
  border: none;
}
/* Nav */
header {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  background: #353535;
  z-index: 100;
}
header nav ul {
  float: right;
}
header nav ul li {
  float: left;
  margin: 0 20px;
}
header nav ul li:first-child {
  margin-left: 0;
}
header nav ul li:last-child {
  margin-right: 0;
}
header nav ul li a {
  display: block;
  font-family: 'OpenSansBold';
  font-size: 12px;
  font-weight: normal;
  color: #ffffff !important;
  line-height: 60px;
}
header nav ul li a:hover {
  color: #fdaa4e !important;
}
.mobile-nav {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #494949 url(../images/button_mobile_nav.png) no-repeat center center;
  cursor: pointer;
  z-index: 100;
  display: none;
}
@media (max-width: 599px) {
  header nav ul {
    width: 100%;
  }
}
@media (min-width: 600px) and (max-width: 959px) {
  header nav ul {
    width: 50%;
  }
}
@media (max-width: 959px) {
  .mobile-nav {
    display: block;
  }
  header nav {
    position: relative;
    height: 60px;
  }
  header nav ul {
    margin-top: 70px;
    display: none;
  }
  header nav ul:before {
    position: absolute;
    top: 63px;
    right: 13px;
    width: 0;
    height: 0;
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #353535;
  }
  header nav ul li {
    float: none !important;
    display: block;
    height: 60px;
    border-top: 1px solid #3f3f3f;
    border-bottom: 1px solid #2b2b2b;
    padding: 0;
    background: #353535;
    margin: 0 !important;
  }
  header nav ul li:first-child {
    border-top: 0;
    border-radius: 3px 3px 0 0;
  }
  header nav ul li:last-child {
    border-bottom: 0;
    border-radius: 0 0 3px 3px;
  }
  header nav ul li a {
    display: block;
    width: 100%;
    font-size: 12px;
    padding: 0 20px;
  }
}
@media (min-width: 960px) {
  header nav ul {
    display: block !important;
  }
}
/* Forms */
.inputfield {
  float: left;
  width: 100%;
  height: 40px;
  font-family: 'OpenSansReg';
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 2;
  color: #353535;
  padding: 6px 10px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  background: #ffffff;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  margin-bottom: 20px;
}
.inputfield:hover {
  border-color: #acacac;
}
.inputfield:focus {
  outline: none;
  border-color: #ebc855;
  background: #f8edc7;
}
@media (max-width: 599px) {
  .inputfield {
    margin-bottom: 0;
  }
}
select.inputfield {
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #898989;
  background: #ffffff url(../images/bg_select_arrow.png) no-repeat right;
}
select.inputfield:focus {
  background: #f8edc7 url(../images/bg_select_arrow.png) no-repeat right;
}
textarea.inputfield {
  height: 120px;
}
.checkbox,
.radio-button {
  float: left;
  width: 15px;
  height: 15px;
  border: 1px solid #e1e1e1;
  background: #ffffff;
  -webkit-appearance: none;
  margin: 0 7px 20px 0;
  cursor: pointer;
}
.checkbox:focus,
.radio-button:focus {
  outline: none;
  border-color: #ebc855;
  background: #f8edc7;
}
@media (max-width: 599px) {
  .checkbox,
  .radio-button {
    margin-bottom: 0;
  }
}
.checkbox {
  border-radius: 3px;
}
.checkbox:checked {
  background: url(../images/bg_checkbox.png) no-repeat center center;
}
.radio-button {
  border-radius: 50%;
}
.radio-button:checked {
  background: url(../images/bg_radio_button.png) no-repeat center center;
}
label {
  float: left;
  font-size: 12px;
  line-height: 1.3;
}
ul li {
  margin-bottom: 10px;
  font-size: 90%;
  letter-spacing: 1px;
}
ul li:last-child {
  margin-bottom: 0;
}
ul.disc {
  list-style-type: disc;
  margin-left: 20px;
}
ul.square {
  list-style-type: square;
  margin-left: 20px;
}
ul.checkmark li:before {
  content: "\2713";
  color: #fdaa4e;
  padding-right: 10px;
}
ul.plus li:before {
  content: "\271A";
  color: #3faab9;
  padding-right: 10px;
}
ul.multiply li:before {
  content: "\2716";
  color: #f26a4a;
  padding-right: 10px;
}
ul.inline li {
  float: left;
  line-height: 1.2;
  border-right: 1px solid #acacac;
  padding-right: 10px;
  margin-left: 10px;
  font-size: 80%;
}
ul.inline li:first-child {
  margin: 0;
}
ul.inline li:last-child {
  padding: 0;
  border: 0;
}
ul.with-spacing {
  margin-bottom: 20px;
}
ol li {
  margin: 0 0 10px 25px;
  list-style: decimal;
  font-size: 90%;
  letter-spacing: 1px;
}
ol li:last-child {
  margin-bottom: 0;
}
dl {
  font-size: 90%;
}
dl dt {
  color: #353535;
  font-family: 'OpenSansBold';
  font-weight: normal;
}
dl dd {
  letter-spacing: 1px;
  margin-bottom: 10px;
}
dl dd:last-child {
  margin-bottom: 0;
}
/* Tabs */
ul.tabs-nav {
  float: left;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  margin: 5px 0 20px;
}
@media (max-width: 599px) {
  ul.tabs-nav {
    border: none;
  }
}
ul.tabs-nav li {
  float: left;
  padding: 6px 25px;
  border: 1px solid #e1e1e1;
  background: #f9f9f9;
  margin: 0 -1px -1px 0;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
ul.tabs-nav li:hover {
  cursor: pointer;
}
ul.tabs-nav li:hover a {
  color: #353535;
}
ul.tabs-nav li a {
  display: block;
  color: #959595;
  font-family: 'OpenSansReg';
  font-size: 14px;
  font-weight: normal;
  line-height: 1.9;
  letter-spacing: 0;
}
ul.tabs-nav li a:hover {
  color: #353535;
}
ul.tabs-nav li.active {
  padding-top: 9px;
  border-bottom: 1px solid #ffffff;
  margin-top: -3px;
  background: #ffffff;
}
ul.tabs-nav li.active a {
  color: #f26a4a;
}
@media (max-width: 599px) {
  ul.tabs-nav li {
    border: none;
    border-right: 1px solid #e1e1e1;
    padding: 2px 12px;
    background: none;
  }
  ul.tabs-nav li:first-child {
    padding-left: 0;
  }
  ul.tabs-nav li:last-child {
    padding-right: 0;
    border: none;
  }
  ul.tabs-nav li.active {
    padding-top: 2px;
    margin-top: 0;
    background: none;
  }
  ul.tabs-nav li a {
    font-size: 90%;
  }
}
.tab-frame {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  background: #ffffff;
  display: none;
}
table {
  width: 100%;
}
table thead {
  background: #3faab9;
}
table thead th {
  color: #ffffff;
  font-family: 'OpenSansBold';
  font-weight: normal;
  font-size: 14px;
}
table thead th:first-child {
  border-radius: 3px 0 0 0;
}
table thead th:last-child {
  border-radius: 0 3px 0 0;
}
table th,
table td {
  text-align: left;
  padding: 5px 10px;
}
table tbody {
  font-size: 14px;
  letter-spacing: 1px;
}
table tbody tr {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
table tbody tr:nth-child(even) {
  background: #f4f4f4;
}
table tbody tr:nth-child(even):hover {
  background: #eaeaea;
}
table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 3px;
}
table tbody tr:last-child td:last-child {
  border-radius: 0 0 3px 0;
}
table tbody tr:hover {
  color: #353535;
}
table tfoot {
  background: #e1e1e1;
}
table tfoot td {
  color: #353535;
  font-family: 'OpenSansBold';
  font-weight: normal;
  font-size: 14px;
}
table tfoot td:first-child {
  border-radius: 0 0 0 3px;
}
table tfoot td:last-child {
  border-radius: 0 0 3px 0;
}
table.with-footer tbody tr:last-child td {
  border-radius: 0;
}
/* Tooltip */
.tooltip {
  position: relative;
}
.tooltip span {
  position: absolute;
  bottom: 18px;
  width: 220%;
  left: -60%;
  font-family: 'OpenSansSemi';
  letter-spacing: 0;
  font-size: 85%;
  font-weight: normal;
  line-height: 1.8;
  text-align: center;
  padding: 7px 10px;
  color: #ffffff;
  background: #353535;
  border-radius: 3px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.tooltip span:hover {
  background: #353535;
}
.tooltip span:after {
  position: absolute;
  content: "";
  bottom: -7px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #353535;
  left: 50%;
  margin-left: -7px;
}
@media (max-width: 599px) {
  .tooltip span {
    display: none !important;
  }
}
.tooltip:hover span {
  bottom: 25px;
  opacity: 1;
  visibility: visible;
}
/* JUST FOR FERRET DEMO - REMOVE BEFORE DEVELOPMENT */
section {
  padding: 20px 0;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 20px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  background: #acacac;
}
.row form .row {
  background: none;
}
span {
  display: block;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  background: #e1e1e1;
}
span:hover {
  color: #fff;
  background: #353535;
}
span.headline {
  color: #353535;
  background: none;
}
span.logo {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 24px;
  font-family: 'OpenSansBold';
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  background: none;
}
/* END */
/* Fancybox */
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  margin-left: -16px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1104;
  display: none;
}
#fancybox-loading div {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background: url(../images/fancybox/fancybox_loading.gif) no-repeat center center;
}
#fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  display: none;
  background: #353535 url(../images/bg_stripes.png) repeat;
}
#fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: auto;
  display: none;
}
#fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1101;
  outline: none;
  display: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-left: 10px;
}
#fancybox-wrap * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#fancybox-outer {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 10px;
  border-radius: 3px;
}
#fancybox-content {
  width: 0;
  height: 0;
  padding: 10px;
  outline: none;
  position: relative;
  overflow: hidden;
  z-index: 1102;
  border: 0;
}
#fancybox-hide-sel-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1101;
}
#fancybox-close {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  background: #f26a4a url(../images/fancybox/fancybox_close.png) no-repeat center;
  cursor: pointer;
  z-index: 1103;
  display: none;
}
#fancybox-close:hover {
  background-color: #353535;
}
#fancybox-error {
  color: #444;
  font-size: 12px;
  padding: 14px;
  margin: 0;
}
#fancybox-img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  line-height: 0;
  vertical-align: top;
}
#fancybox-frame {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  overflow: auto;
}
#fancybox-left,
#fancybox-right {
  position: absolute;
  top: 0;
  height: 80%;
  width: 80px;
  cursor: pointer;
  outline: none;
  z-index: 1102;
  opacity: 0;
  margin-top: 10%;
}
#fancybox-left:hover,
#fancybox-right:hover {
  opacity: 1;
}
#fancybox-left {
  left: -10px;
}
#fancybox-left:hover {
  left: -20px;
}
#fancybox-left span {
  left: 0;
}
#fancybox-right {
  right: -10px;
}
#fancybox-right:hover {
  right: -20px;
}
#fancybox-right span {
  right: 0;
}
#fancybox-left-ico,
#fancybox-right-ico {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  cursor: pointer;
  z-index: 1102;
  display: block;
}
#fancybox-left-ico:hover,
#fancybox-right-ico:hover {
  background-color: #3faab9;
}
#fancybox-left-ico {
  background: #353535 url(../images/fancybox/fancybox_arrow_left.png) no-repeat center;
}
#fancybox-right-ico {
  background: #353535 url(../images/fancybox/fancybox_arrow_right.png) no-repeat center;
}
#fancybox-title {
  font-family: inherit;
  font-size: 12px;
  z-index: 1102;
}
.fancybox-title-inside {
  color: #353535;
  background: #fff;
  position: relative;
}
.fancybox-ie .fancybox-bg {
  background: transparent !important;
}
/* Media Queries */
@media (max-width: 599px) {
  
}
@media (min-width: 600px) and (max-width: 767px) {
  
}
@media (min-width: 768px) and (max-width: 959px) {
  
}
@media (min-width: 960px) and (max-width: 1599px) {
  
}
@media (min-width: 1600px) {
  
}
/* Rows */
.ie6 .row.row {
  width: 105%;
}
/* Box Widths */
.ie6 .box-1,
.ie7 .box-1 {
  width: 40px;
}
.ie6 .box-2,
.ie7 .box-2 {
  width: 100px;
}
.ie6 .box-3,
.ie7 .box-3 {
  width: 160px;
}
.ie6 .box-4,
.ie7 .box-4 {
  width: 220px;
}
.ie6 .box-5,
.ie7 .box-5 {
  width: 280px;
}
.ie6 .box-6,
.ie7 .box-6 {
  width: 340px;
}
.ie6 .box-7,
.ie7 .box-7 {
  width: 400px;
}
.ie6 .box-8,
.ie7 .box-8 {
  width: 460px;
}
.ie6 .box-9,
.ie7 .box-9 {
  width: 520px;
}
.ie6 .box-10,
.ie7 .box-10 {
  width: 580px;
}
.ie6 .box-11,
.ie7 .box-11 {
  width: 640px;
}
.ie6 .box-12,
.ie7 .box-12 {
  width: 700px;
}
.ie6 .box-13,
.ie7 .box-13 {
  width: 760px;
}
.ie6 .box-14,
.ie7 .box-14 {
  width: 820px;
}
.ie6 .box-15,
.ie7 .box-15 {
  width: 880px;
}
.ie6 .box-16,
.ie7 .box-16 {
  width: 940px;
}
.ie6 .box-3.sixth,
.ie7 .box-3.sixth {
  width: 140px;
}
.ie6 .box-4.fifth,
.ie7 .box-4.fifth {
  width: 172px;
}
.ie6 .box-5.third,
.ie7 .box-5.third {
  width: 300px;
}
.ie6 .box-10.two-third,
.ie7 .box-10.two-third {
  width: 620px;
}
.ie6 .box-1,
.ie7 .box-1,
.ie6 .box-2,
.ie7 .box-2,
.ie6 .box-3,
.ie7 .box-3,
.ie6 .box-4,
.ie7 .box-4,
.ie6 .box-5,
.ie7 .box-5,
.ie6 .box-6,
.ie7 .box-6,
.ie6 .box-7,
.ie7 .box-7,
.ie6 .box-8,
.ie7 .box-8,
.ie6 .box-9,
.ie7 .box-9,
.ie6 .box-10,
.ie7 .box-10,
.ie6 .box-11,
.ie7 .box-11,
.ie6 .box-12,
.ie7 .box-12,
.ie6 .box-13,
.ie7 .box-13,
.ie6 .box-14,
.ie7 .box-14,
.ie6 .box-15,
.ie7 .box-15,
.ie6 .box-16,
.ie7 .box-16,
.ie6 .box-17,
.ie7 .box-17,
.ie6 .box-18,
.ie7 .box-18,
.ie6 .box-19,
.ie7 .box-19,
.ie6 .box-20,
.ie7 .box-20,
.ie6 .box-21,
.ie7 .box-21,
.ie6 .box-22,
.ie7 .box-22,
.ie6 .box-23,
.ie7 .box-23,
.ie6 .box-24,
.ie7 .box-24,
.ie6 .box-half,
.ie7 .box-half,
.ie6 .box-3rd,
.ie7 .box-3rd,
.ie6 .box-2-3rd,
.ie7 .box-2-3rd,
.ie6 .box-5th,
.ie7 .box-5th,
.ie6 .box-6th,
.ie7 .box-6th {
  float: left;
  padding: 0 10px;
}
.i6 .container,
.ie7 .container,
.ie8 .container {
  width: 960px;
}
