/*********************************************
Main Stylesheet - Site Name
Last Updated: 11/07/12
Written by: Sean Stopnik
Email: sstopnik@redventures.com
*********************************************/


// Complete Site Settings


// Grid Settings
@grid-normal: 960px;
@grid-wide: 1140px;
@grid-row-with-spacing: 40px;



// Fonts
@font-light: 'OpenSansLight';
@font-normal: 'OpenSansReg';
@font-bold: 'OpenSansSemi';
.font-light {font-family: 'OpenSansLight'; font-weight: normal;}
.font-normal {font-family: 'OpenSansReg'; font-weight: normal;}
.font-bold {font-family: 'OpenSansSemi'; font-weight: normal;}


// Base
@base-bg: #fff;
@base-font: @font-light;
@base-color: #707070;
@base-line-height: 2;
@base-font-size: 15px;
@base-font-weight: normal;
@base-letter-spacing: 1px;
@link-color: @brand;
@link-hover: @dark;
@quote: @gray;
@quote-author: @dark;


// Colors
@brand: @blue;
@blue: #3faab9;
@orange: #fdaa4e;
@red: #f26a4a;
@green: #50c690;
@yellow: #f3de99;
@gray: #acacac;
@light-gray: #e1e1e1;
@dark-gray: #959595;
@dark: #394240;
@white: #fff;


// Typography
@headline-color: @dark;
@headline-font: @font-bold;
@headline-weight: normal;
@headline-line-height: 1.5;
@headline-margin: 15px;


// Buttons
@button-bg: @brand;
@button-color: #fff;
@button-font: @font-bold;
@button-font-weight: normal;
@button-font-size: 14px;
@button-bg-alt: @blue;
@button-submit: @red;
@button-hover: @dark;
@button-height: 40px;


// Navigation Bar
@nav-bar-bg: @dark;
@nav-font: @font-normal;
@nav-font-size: 15px;
@nav-font-weight: normal;
@nav-color: @white;
@nav-color-hover: @orange;
@mobile-nav-button: @dark + 20;
@mobile-nav-bg: @dark;


// First Section Top Margin to Compensate for Fixed Top Navigation Bar
@first-section-margin: 80px;


// Form Fields
@input-bg: #fff;
@input-font: @font-normal;
@input-font-weight: normal;
@input-border: #e1e1e1;
@input-bg-hover: #fff;
@input-border-hover: #acacac;
@input-bg-focus: lighten(@yellow, 10%);
@input-border-focus: darken(@input-bg-focus, 25%);
@placeholder-color: #898989;


// Lists
@list-item-checkbox: @orange;
@list-item-multiply: @red;
@list-item-plus: @blue;


// Tabs
@tab-font: @font-normal;
@tab-font-size: 14px;
@tab-font-weight: normal;
@tab-bg: #f9f9f9;
@tab-color: @dark-gray;
@tab-color-hover: @dark;
@tab-color-active: @red;
@tab-frame-bg: #fff;


// Tooltips
@tooltip-bg: @dark;
@tooltip-color: #fff;
@tooltip-font: @font-normal;
@tooltip-weight: normal;
@tooltip-letter-spacing: 0;


// Fancybox
@fancybox-close: @red url(../images/fancybox_close.png) no-repeat center;
@fancybox-nav: @dark;
@fancybox-nav-hover: @blue;





// All Stylesheets Included


// Base Styles (Do Not Remove)
@import "ferret/box_grid.less";
@import "ferret/fonts.less";
@import "ferret/style_base.less";
@import "ferret/style_mixins.less";
@import "ferret/style_main.less";


// Extras (Add or Remove as Needed)
@import "ferret/style_buttons.less"; // Button Styles
@import "ferret/style_nav.less"; // Header Navigation Styles
@import "ferret/style_forms.less"; // Form Styles
@import "ferret/style_tooltips.less"; // Tooltip Styles
@import "ferret/style_tabs.less"; // Content Tabs Styles


// Responsive Override Styles
@import "ferret/style_responsive.less";


// Fancybox
@import "ferret/fancybox.less"; //


// Include this file to support IE6-7
@import "ferret/box_grid_ie6_7.less";
