// The Box Grid - Version 2.0
// Written by: Sean Stopnik
// Email: sstopnik@redvenutures.com


/* Box Grid */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	html .row {height: 1%;}
}


// Rows
.row {
	display: block;
	width: 100%;
	.row {
		margin: 0 -10px;
		width: auto;
	}
	&.with-spacing {
		margin-bottom: @grid-row-with-spacing;
	}
	&.with-less-spacing {
		margin-bottom: @grid-row-with-spacing / 2;
	}
	&.with-more-spacing {
		margin-bottom: @grid-row-with-spacing * 2;
	}
	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
	&.centered {
		text-align: center;
		div {
			float: none;
			display: inline-block;
			text-align: left;
			margin: 0 -2px;
		}
	}
	&.no-gutters {
		padding: 0 @grid-gutter-width;
		[class*="box-"] {
			padding: 0;
		}
	}
	&.large-gutters {
		[class*="box-"] {
			padding: 0 @grid-gutter-width * 2;
		}
	}
	
	// Auto Clearing
	&:before, &:after {
		display: block;
		height: 0;
		overflow: hidden;
		visibility: hidden;
		content: "";
	}
	&:after {clear: both;}
}


// Box Widths
@iterations: 1;
.gridLoop (@index) when (@index =< @grid-boxes) {
	(~".box-@{index}") {
		width: 100% / @grid-boxes * @index;
	}
	.gridLoop(@index + 1);
}
.gridLoop (@grid-boxes) {}
.gridLoop (@iterations);
.box- {
	&half {width: 50%;}
	&3rd {width: 100% / 3;}
	&2-3rd {width: 100% / 3 * 2;}
	&5th {width: 100% / 5;}
	&6th {width: 100% / 6;}
}


// Box Positioning
[class^="box-"] {
	float: left;
	padding: 0 @grid-gutter-width;
}


// Container
.container {
	position: relative;
	margin: 0 auto;
	
	.ie8 & {
		width: @grid-normal;
	}
}


// Mobile Grouping
@media @mobile {
	.container {width: 100%;}
}
@media @device {
	* {-webkit-text-size-adjust: none;}
	.container {padding: 0 10px; overflow: hidden;}
}


// Mobile Phone
@media @mobile {
	[class*="box-"] {
		width: 100%;
		margin-bottom: 20px;
	}
}


// Small Tablets
@media @small-tablet {
	[class*="box-"] {
		width: 100%;
	}
	.box- {
		&-half, &5th, &6th {
			width: 50%;
		}
	}
}


// iPad & Large Tablets
@media @tablet {
	.container {width: 768px;}
}


// Desktop
@media @desktop {
	.container {width: @grid-normal;}
}


// Large Desktop
@media @large-desktop {
	.container {width: @grid-wide;}
}