// Table Default Styles

// Tables
table {
	width: 100%;
	
	thead {
		background: $table-header-bg;
		
		th {
			color: $table-header-color;
			@include font-bold;
			font-size: $table-header-font-size;
			
			&:first-child {
				@include radius(3px 0 0 0);
			}
			
			&:last-child {
				@include radius(0 3px 0 0);
			}
		}
	}
	
	th,
	td {
		text-align: left;
		padding: 5px 10px;
	}
	
	tbody {
		font-size: $table-font-size;
		letter-spacing: $base-letter-spacing;
		
		tr {
			@include transition;
			
			&:nth-child(even) {
				background: $table-row-bg;
				
				&:hover {
					background: $table-row-bg - 10;
				}
			}
			
			&:last-child td {
				&:first-child {
					@include radius(0 0 0 3px);
				}
				
				&:last-child {
					@include radius(0 0 3px 0);
				}
			}
			
			&:hover {
				color: $dark;
			}
		}
	}
	
	tfoot {
		background: $table-footer-bg;
		
		td {
			color: $table-footer-color;
			@include font-bold;
			font-size: $table-footer-font-size;
			
			&:first-child {
				@include radius(0 0 0 3px);
			}
			
			&:last-child {
				@include radius(0 0 3px 0);
			}	
		}
	}
	
	&.with-footer {
		tbody {
			tr:last-child td {
				@include radius(0);
			}
		}
	}
}