// Tabs Variables
$tab-font: $font-semi;
$tab-font-size: 12px;
$tab-font-weight: normal;
$tab-letter-spacing: 0;
$tab-bg: #f9f9f9;
$tab-color: $dark-gray;
$tab-color-hover: $dark;
$tab-color-active: $red;
$tab-frame-bg: #fff;
$tab-border-color: #e1e1e1;
$tab-spacing: 25px;