// Buttons
$button-bg: $primary;
$button-color: #fff;
$button-font: $font-bold;
$button-font-weight: normal;
$button-font-size: 14px;
$button-bg-alt: $blue;
$button-submit: $red;
$button-hover: #353535;
$button-height: 40px;

$button-text-shadow: true;
$button-drop-shadow: true;