// Form Variables
$input-bg: #fff;
$input-height: 45px;
$input-font: $font-normal;
$input-font-size: 14px;
$input-font-weight: normal;
$input-color: $dark;
$input-border: $light-gray;
$input-bg-hover: #fff;
$input-border-hover: #acacac;
$input-bg-focus: lighten($yellow, 10%);
$input-border-focus: darken($input-bg-focus, 25%);
$input-margin-bottom: 20px;
$input-textarea-height: 140px;
$input-checkbox-size: 17px; // Checkbox & Radio Buttons
$input-checkbox-bg: #fff;
$input-checkbox-checked: url(../images/ferret/bg_checkbox.png); // Chrome Only
$input-radio-checked: url(../images/ferret/bg_radio_button.png); // Chrome Only
$input-label-font-size: 12px;
$placeholder-color: #acacac;