// Project Fonts


// Create Font-face Fonts
@include font-face-mixin('OpenSansLight', '../fonts', 'OpenSans-Light-webfont');

@include font-face-mixin('OpenSansReg', '../fonts', 'OpenSans-Regular-webfont');

@include font-face-mixin('OpenSansSemi', '../fonts', 'OpenSans-Semibold-webfont');

@include font-face-mixin('OpenSansBold', '../fonts', 'OpenSans-Bold-webfont');


// Create Mixin for Each Font
@mixin font-light {
	font-family: 'OpenSansLight';
	@include font-styles;
}

@mixin font-reg {
	font-family: 'OpenSansReg';
	@include font-styles;
}

@mixin font-semi {
	font-family: 'OpenSansSemi';
	@include font-styles;
}

@mixin font-bold {
	font-family: 'OpenSansBold';
	@include font-styles;
}

@mixin font-headline {
	font-family: 'OpenSansBold';
	@include font-styles;
}