// Project Helpers


.is-positioned {
	position: relative;
}

.is-left,
.is-floated {
	float: left;
}

.is-right {
	float: right;
}

.is-center {
	text-align: center;
}

.is-flush {
	margin: 0;
}

@mixin margin($direction, $amount) {
	margin-#{$direction}: $amount;
}

@each $i in 10, 20, 30, 40, 50, 60 {
	.top-#{$i} {
		margin-top: #{$i}px;
	}
}

@each $i in 10, 20, 30, 40, 50, 60 {
	.bottom-#{$i} {
		margin-bottom: #{$i}px;
	}
}

.is-clear {
	clear: both;
	display: block;
	@include size(0);
	overflow: hidden;
	visibility: hidden;
}

.not-selectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.is-hidden {
	display: none;
	visibility: hidden;
}

.is-striped {
	background: {
		image: url(../images/ferret/bg_stripes.png);
		repeat: repeat;
	}
}