.font-face {
  @font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSans-Light-webfont.eot");
    src: url("../fonts/OpenSans-Light-webfont?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg"); }
 }

.font-face {
  @font-face {
    font-family: "OpenSansReg";
    src: url("../fonts/OpenSans-Regular-webfont.eot");
    src: url("../fonts/OpenSans-Regular-webfont?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#OpenSansReg") format("svg"); }
 }

.font-face {
  @font-face {
    font-family: "OpenSansSemi";
    src: url("../fonts/OpenSans-Semibold-webfont.eot");
    src: url("../fonts/OpenSans-Semibold-webfont?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemi") format("svg"); }
 }

.font-face {
  @font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSans-Bold-webfont.eot");
    src: url("../fonts/OpenSans-Bold-webfont?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg"); }
 }
