// Ferret Grid Support for IE6-7


// Container
.ie6,
.ie7,
.ie8 {
	.container {width: 960px;}
}

// Rows
.ie6 .row.row {width: 105%;}


// Widths
.ie6,
.ie7 {
	.#{$grid-box-name}-1 {width: 40px;}
	.#{$grid-box-name}-2 {width: 100px;}
	.#{$grid-box-name}-3 {width: 160px;}
	.#{$grid-box-name}-4 {width: 220px;}
	.#{$grid-box-name}-5 {width: 280px;}
	.#{$grid-box-name}-6 {width: 340px;}
	.#{$grid-box-name}-7 {width: 400px;}
	.#{$grid-box-name}-8,
	.#{$grid-box-name}-half {width: 460px;}
	.#{$grid-box-name}-9 {width: 520px;}
	.#{$grid-box-name}-10 {width: 580px;}
	.#{$grid-box-name}-11 {width: 640px;}
	.#{$grid-box-name}-12 {width: 700px;}
	.#{$grid-box-name}-13 {width: 760px;}
	.#{$grid-box-name}-14 {width: 820px;}
	.#{$grid-box-name}-15 {width: 880px;}
	.#{$grid-box-name}-16,
	.#{$grid-box-name}-full {width: 940px;}
	.#{$grid-box-name}-3rd {width: 300px;}
	.#{$grid-box-name}-2-3rd {width: 620px;}
	.#{$grid-box-name}-5th {width: 172px;}
	.#{$grid-box-name}-6th {width: 140px;}
	
	// Positioning
	[class*='#{$grid-box-name}-'] {
		float: left;
		margin: 0 10px;
	}
}