// Ferret Grid - Version 3.0
// Written by: Sean Stopnik
// Email: thelifemgmt@gmail.com


// Box Grid
* {
	@include box-sizing();
	
	html .row {
		height: 1%;
	}
	
	@include media(device) {
		-webkit-text-size-adjust: none;
	}
}


// Container
.container {
	position: relative;
	width: 100%;
	margin: 0 auto;
	
	@include media(device) {
		padding: 0 10px;
	}
	
	@include media(tablet) {
		width: 768px;
	}
	
	@include media(desktop) {
		width: $grid-normal;
	}
	
	@include media(large-desktop) {
		width: $grid-wide;
	}
}


// Rows
.#{$grid-row-name} {
	display: block;
	width: 100%;
	
	.#{$grid-row-name} {
		margin: 0 -10px;
		width: auto;
	}
	
	&.with-spacing {
		margin-bottom: $grid-row-with-spacing;
	}
	
	&.with-less-spacing {
		margin-bottom: $grid-row-with-spacing / 2;
	}
	
	&.with-more-spacing {
		margin-bottom: $grid-row-with-spacing * 2;
	}
	
	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
	
	&.centered {
		text-align: center;
		
		div {
			float: none;
			display: inline-block;
			text-align: left;
			margin: 0 -2px;
		}
	}
	
	&.no-gutters {
		padding: 0 $grid-gutter-width;
		
		[class*="#{$grid-box-name}-"] {
			padding: 0;
		}
	}
	
	&.large-gutters {
		
		[class*="#{$grid-box-name}-"] {
			padding: 0 $grid-gutter-width * 2;
		}
	}
	
	// Auto Clearing
	&:before,
	&:after {
		display: block;
		height: 0;
		overflow: hidden;
		visibility: hidden;
		content: '';
	}
	
	&:after {
		clear: both;
	}
}


// ie7 Percentage Calculator
$ie7-box-width: percentage($grid-gutter-width/$grid-normal);


// Box Widths - Grid Loop Start
@for $i from 1 through $grid-boxes {
	
	.#{$grid-box-name}-#{$i} {
		width: 100% / $grid-boxes * $i;
		
		@if $ie7-support {
			*width: percentage($i/$grid-boxes)-$ie7-box-width;
		}
	}
}
// Grid Loop End


.#{$grid-box-name}-full {
	width: 100%;
}

.#{$grid-box-name}-half {
	width: 50%;
}

.#{$grid-box-name}-3rd {
	width: (100% / 3);
}

.#{$grid-box-name}-2-3rd {
	width: (100% / 3) * 2;
}

.#{$grid-box-name}-5th {
	width: (100% / 5);
}

.#{$grid-box-name}-6th {
	width: (100% / 6);
}

@include media(phone) {
	[class^="#{$grid-box-name}-"] {
		width: 100%;
		margin-bottom: 20px;
	}
	
	.#{$grid-box-name}-half {
		width: 50%;
	}
}

@include media(only-tablet) {
	[class^="#{$grid-box-name}-"] {
		width: 100%;
	}
	
	.#{$grid-box-name}-half,
	.#{$grid-box-name}-5th,
	.#{$grid-box-name}-6th,
	.#{$grid-box-name}-8 {
		width: 50%;
	}
}


// Box Positioning
[class^="#{$grid-box-name}-"] {
	float: left;
	min-height: 1px;
	padding: 0 $grid-gutter-width;
	
	@for $i from 1 through $grid-boxes - 1 {
		&.#{$grid-offset-name}-#{$i} {
			margin-left: 100% / $grid-boxes * $i;
			
			@if $ie7-support {
			  *margin-left: percentage($i/$grid-boxes)-$ie7-box-width;
      }
		}
	}
}