/***********************************************
Standards Stylesheet
Last Updated: 3/5/11
***********************************************/


/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {overflow-y: scroll;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}


/* HTML 5 Fix */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}


/* Defaults */
hr {
	display: block;
	border: 0;
	height: 2px;
	background: url(../images/hr_horizontal.png) repeat-x;
	margin: 0 10px 40px;
	padding: 0;
}
p:last-child {margin-bottom: 0;}
input, select {vertical-align: middle;}
input[type=button], input[type=submit], button {cursor: pointer; border: 0;}
.left {float: left;}
.right {float: right;}
.center {text-align: center;}
.bold, b, strong {font-weight: bold;}
.italic, i {font-style: italic;}
.normal {font-weight: normal;}
.noselect {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.nomargin {margin: 0;}
.hide {display: none;}
.position {position: relative;}
small {font-size: 11px;}


/* Body */
body {
	font-family: 'Helvetica Neue', 'HelveticaNeue', Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.8;
	color: #707070;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}


/* Typography */
h1, h2, h3, h4, h5, h6, span.headline {
	color: #464646;
	font-weight: bold;
	margin-bottom: 20px;
	line-height: 1.5;
}
h1 {font-size: 36px;}
h2 {font-size: 30px;}
h3 {font-size: 24px;}
h4 {font-size: 18px;}
h5 {font-size: 16px;}
h6 {font-size: 14px;}
span.headline {display: block; font-size: 18px;}
.with-subheadline {margin-bottom: 5px;}
.subheadline {font-size: 18px; font-weight: normal; color: #707070;}
a:link, a:visited, a:active, a {
	text-decoration: none;
	color: #d00d00;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	outline: none;
	}
a:hover {color: #252525;}
p {margin: 0 0 15px 0;}
p:last-child {margin: 0;}
p.large {font-size: 18px; line-height: 2; color: #464646; margin-bottom: 30px;}


/* Effects */
.shadow {
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.glow {
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.rounded {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.fade {
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  	filter: alpha(opacity=100);
  	-moz-opacity: 1.0;
  	-khtml-opacity: 1.0;
  	opacity: 1.0;
}
.fade:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  	filter: alpha(opacity=60);
  	-moz-opacity: 0.6;
  	-khtml-opacity: 0.6;
  	opacity: 0.6;
}


/* Lists */
ul li {margin-bottom: 10px;}
ul li:last-child {margin-bottom: 0;}
ul.disc {list-style-type: disc; margin-left: 20px;}
ul.square {list-style-type: square; margin-left: 20px;}
ul.checkmark li:before {content: "\2713"; color: #39b54a; padding-right: 10px;}
ul.plus li:before {content: "\271A"; color: #00aeef; padding-right: 10px;}
ul.multiply li:before {content: "\2716"; color: #ba1d1d; padding-right: 10px;}


/* Blockquote */
blockquote {
    border-left: 1px solid #e1e1e1;
    padding: 0 0 0 20px;
    color: #959595;
}
blockquote cite {display: block; font-size: 14px; margin-top: 12px; font-style: italic;}
blockquote cite:before {content: "\2014 \0020";}


/* Spacing */
.top10 {margin-top: 10px;}
.top20 {margin-top: 20px;}
.top30 {margin-top: 30px;}
.top40 {margin-top: 40px;}
.bottom10 {margin-bottom: 10px;}
.bottom20 {margin-bottom: 20px;}
.bottom30 {margin-bottom: 30px;}
.bottom40 {margin-bottom: 40px;}


/* Placeholder Styles */
::-webkit-input-placeholder {color: #898989;}
:-moz-placeholder {color: #898989;}


/* Text Select */
::selection {background: #464646; color: #fff;}
::-moz-selection {background: #464646; color: #fff;}


/* Tables */
table {width: 100%;}
table th, table td {text-align: left;}

