/* Tooltip */
@-webkit-keyframes toolTip {
  0% {
    bottom: 18px;
    opacity: 0;
  }
  100% {
    bottom: 25px;
    opacity: 1;
  }
}
@-moz-keyframes toolTip {
  0% {
    bottom: 18px;
    opacity: 0;
  }
  100% {
    bottom: 25px;
    opacity: 1;
  }
}
@-ms-keyframes toolTip {
  0% {
    bottom: 18px;
    opacity: 0;
  }
  100% {
    bottom: 25px;
    opacity: 1;
  }
}
.tooltip {
  position: relative;
}
.tooltip span {
  -webkit-animation: toolTip 0.3s ease-in;
  -moz-animation: toolTip 0.3s ease-in;
  -ms-animation: toolTip 0.3s ease-in;
  position: absolute;
  bottom: 25px;
  width: 200%;
  left: -50%;
  font-size: 80%;
  font-weight: normal;
  line-height: 1.6;
  text-align: center;
  padding: 5px 10px;
  color: #fff;
  background: #464646;
  z-index: 100;
  display: none;
}
.tooltip span:after {
  position: absolute;
  content: "";
  bottom: -7px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #464646;
  left: 50%;
  margin-left: -7px;
}
